*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    background-color: #181419;
}

header{
    background-color: #9F3647;
    color: #ffffff;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    padding: 1.5rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}


.logo-link{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.logo{
    font-weight: 700;
    font-size: 1.2rem;
}

.menu-lista{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-lista-item{
    display: list-item;
    unicode-bidi: isolate;
}

.menu-lista-item-link{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}



#registro{
    background-image: url(../img/mujer-viendo-series-television-peliculas-traves-servicio-transmision-casa_746318-826.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0px;

    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: #9F3647;
}

.textoFooter{
    font-weight: bold;
    font-size: 20px;
    border: 10px #9F3647 solid;

}
